@font-face {
  font-family: "Roboto-Reg";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Med";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

:root {
  --a-button-col: #ff3571;
  --email: #757575;
  --Robo-L: "Roboto-Light";
  --robo-reg: "Roboto-Reg";
  --robo-B: "Roboto-Bold";
  --robo-M: "Roboto-Med";
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.emoji {
  width: 6rem;
  height: 6rem;
}

/* #Header */

header {
  background-image: url("../img/ilustracion1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
  height: 70rem;
  margin-bottom: 9rem;
  font-family: "Roboto-Bold";
}

.elephant {
  width: 3rem;
  margin-left: 2rem;
  position: fixed;
}

header nav {
  position: relative;
  left: 7rem;
}

h2 {
  font-size: 2.4rem;
  font-family: "Roboto-Bold";
}

header nav p {
  font-size: 1.2rem;
  font-family: "Roboto-Reg";
}

.hero-line {
  display: flex;
  padding-top: 4rem;
  margin-bottom: 35rem;
}

.flying-guy {
  position: relative;
  z-index: 1;
  top: -70rem;
  left: 65rem;
  width: 50%;

  animation: flying 0.8s linear infinite alternate;
}

@keyframes flying {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(35px);
  }
}

/* # Header Section with H1 an p */
.hero-section-position {
  width: 50rem;
  margin-left: 14.4rem;
}

h1 {
  font-size: 5.4rem;
  font-family: "Roboto-Bold";
  margin-bottom: 1.8rem;
}

/* .hero-section-position */
p {
  font-family: "Roboto-Light";
  font-size: 1.8rem;
  line-height: 2.9rem;
}
.hero-section-position p:nth-of-type(2) {
  margin-bottom: 5.6rem;
}

.hero-section-position a {
  color: var(--a-button-col);
  font-size: 1.6rem;
  text-transform: uppercase;
}

#images {
  border-bottom: #757575 2px solid;
  margin-bottom: 25.4rem;
}

/* #Main */

/*  - first section */
article {
  margin: 0 14.4rem;
}

.idea-sizing {
  display: flex;
  gap: 9.2rem;
}

h3 {
  font-size: 3.8rem;
  font-family: var(--robo-B);
}

.idea-light {
  width: 30rem;
  height: 30rem;
}
.idea-light h3:nth-of-type(1)::after {
  content: url("../img/idea.png");
}

.idea-sizing p {
  width: 60rem;
  font-family: var(--Robo-L);
  color: var(--email);
}

.position-article {
  width: 64rem;
  position: relative;
  left: 7.2rem;
  margin-bottom: 15rem;
}

/* - article #3 Grid */

h4 {
  font-family: var(--robo-B);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-box-child-size {
  width: 53.4rem;
  margin-left: 8rem;
}

.grid-box-child-size p {
  width: 30rem;
  margin-bottom: 7.2rem;
}

/* .grid-box-child-size:nth-of-type(1):before{
    content: url("../img/title02.svg");
    
} */

.main-section {
  margin-bottom: 20rem;
}

/* - Main Section #2 */

h5 {
  font-size: 2.8rem;
  font-family: var(--robo-B);
  text-align: center;
  margin-bottom: 2.3rem;
}
.ready-position p {
  font-family: var(--Robo-L);
  width: 42rem;
  text-align: center;
}

.ready-position {
  display: grid;
  justify-content: center;
  margin-bottom: 15rem;
}

/* - Images Grid */

.stepSize {
  width: 80%;
  object-fit: contain;
}

.grid-section {
  margin: 14rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-bottom: 15rem;
  gap: 10rem;
}

.emoji {
  width: 5%;
  margin-bottom: 2rem;
}

.number {
  font-family: var(--robo-B);
  font-size: 5.2rem;
  color: #dddddd;
  margin-bottom: 4rem;
}

.innerGrid-hl {
  font-size: 2.2rem;
  font-family: var(--robo-B);
  margin-bottom: 1.8rem;
}

/* .grid-section div{
    position: relative;
    right: -4rem;
} */

.main-section {
  margin-bottom: 20rem;
}

/* # FOOTER */

footer article {
  text-align: center;
}

.footer-box {
  margin-bottom: 5rem;
}
.footer-hl {
  font-size: 2.8rem;
  font-family: var(--robo-B);
  margin-bottom: 2.4rem;
}

.emailSub {
  display: grid;
  justify-content: center;
}

#email {
  width: 6.5rem;
  padding: 1.5rem 20rem;
  margin-bottom: 3rem;
  border: none;
  box-shadow: 10px 10px 133px 0px rgba(0, 0, 0, 0.264);
}

.btn {
  position: relative;
  left: 8rem;
  width: 25rem;
  height: 6rem;
  background-color: var(--a-button-col);
  color: #ffffff;
  border-radius: 4px;
  border: none;
  margin-bottom: 15rem;
}

.lastEmoji {
  display: flex;
}

.emoSize {
  width: 2%;
  height: 1%;
}
